<aside class="w-64 bg-white text-black shadow-lg">
    <div class="p-4">
        <img src="/static/img/logo.png" alt="Logo" class="w-full h-auto">
    </div>
    <nav class="mt-4 sidebar">
        <a href="/templates/general/menu_empresas" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-black">
            <i class="fas fa-home mr-2 text-gray-500"></i>
            Inicio
        </a>
        <a href="/agregar-comida" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-black">
            <i class="fas fa-plus mr-2 text-gray-500"></i>
            Agregar Comida
        </a>
        <a href="/ver-comidas" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-black">
            <i class="fas fa-list mr-2 text-gray-500"></i>
            Ver Comidas
        </a>
        <a href="/pedidos-en-curso" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-black">
            <i class="fas fa-shopping-cart mr-2 text-gray-500"></i>
            Pedidos en Curso
        </a>
        <a href="/perfil-empresa" class="flex items-center py-2.5 px-4 rounded transition duration-200 text-blue-500 active">
            <i class="fas fa-user mr-2"></i>
            Perfil
        </a>
        <a href="/informacion" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-black">
            <i class="fas fa-info-circle mr-2 text-gray-500"></i>
            Información
        </a>
    </nav>
</aside>