<aside class="sidebar">
    <div class="flex justify-center mb-8">
        <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo w-44" alt="Save a Bite Logo"/>
    </div>
    <div class="nav-item {% if request.path == url_for('menu_empresas') %}active{% endif %}">
        <i class="fas fa-home"></i>
        <a href="{{ url_for('menu_empresas') }}" class="text-decoration-none">Inicio</a>
    </div>
    <div class="nav-item {% if request.path == url_for('crear_producto') %}active{% endif %}">
        <i class="fas fa-plus"></i>
        <a href="{{ url_for('crear_producto') }}" class="text-decoration-none">Agregar Comida</a>
    </div>
    <div class="nav-item {% if request.path == url_for('VerComidas') %}active{% endif %}">
        <i class="fas fa-list"></i>
        <a href="{{ url_for('VerComidas') }}" class="text-decoration-none">Ver Comidas</a>
    </div>
    <div class="nav-item {% if request.path == url_for('pedidos') %}active{% endif %}">
        <i class="fas fa-shopping-cart"></i>
        <a href="{{ url_for('pedidos') }}" class="text-decoration-none">Pedidos en Curso</a>
    </div>
    <div class="nav-item {% if request.path == url_for('perfil_empresa') %}active{% endif %}">
        <i class="fas fa-user-tie"></i>
        <a href="{{ url_for('perfil_empresa') }}" class="text-decoration-none">Perfil Empresa</a>
    </div>
    <div class="nav-item {% if request.path == url_for('informacion') %}active{% endif %}">
        <i class="fas fa-info-circle"></i>
        <a href="{{ url_for('informacion') }}" class="text-decoration-none">Información</a>
    </div>
    <div class="profile mt-8 mt-auto">
        <img src="{{ url_for('static', filename=user_image) }}" alt="Profile" class="w-12 h-12 rounded-full">
        <div class="profile-text mt-2">
            <div class="name">{{ user_name }}</div>
            <a href="{{ url_for('perfil_usuario') }}" class="edit-profile text-blue-500 hover:underline">Editar Perfil</a>
        </div>
    </div>
</aside>