<aside class="w-64 bg-white text-black shadow-lg">
    <div class="p-4">
        <img src="/static/img/logo.png" alt="Logo" class="w-full h-auto">
    </div>
    <nav class="mt-4 sidebar">
        <a href="/templates/general/menu_usuario" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-black">
            <i class="fas fa-home mr-2 text-gray-500"></i>
            Inicio
        </a>
        <a href="/carrito" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-black">
            <i class="fas fa-shopping-cart mr-2 text-gray-500"></i>
            Carrito
        </a>
        <a href="/mis-pedidos" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-black">
            <i class="fas fa-box mr-2 text-gray-500"></i>
            Mis Pedidos
        </a>
        <a href="/favoritos" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-black">
            <i class="fas fa-heart mr-2 text-gray-500"></i>
            Favoritos
        </a>
        <a href="/perfil-usuario" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-black">
            <i class="fas fa-user mr-2 text-gray-500"></i>
            Perfil
        </a>
        <a href="/informacion" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-black">
            <i class="fas fa-info-circle mr-2 text-gray-500"></i>
            Información
        </a>
    </nav>
</aside>