<div class="sidebar flex flex-col h-screen">
    <div class="flex justify-center mb-8">
        <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo w-44" alt="Save a Bite Logo"/>
    </div>
    <div class="nav-item {% if request.path == url_for('menu') %}active{% endif %}">
        <i class="fas fa-home"></i>
        <a href="{{ url_for('menu') }}" class="text-decoration-none">Inicio</a>
    </div>
    <div class="nav-item {% if request.path == url_for('carrito') %}active{% endif %}">
        <i class="fas fa-shopping-bag"></i>
        <a href="{{ url_for('carrito') }}" class="text-decoration-none">Carrito</a>
    </div>
    <div class="nav-item {% if request.path == url_for('favoritos') %}active{% endif %}">
        <i class="fas fa-heart"></i>
        <a href="{{ url_for('favoritos') }}" class="text-decoration-none">Favoritos</a>
    </div>
    <div class="nav-item {% if request.path == url_for('perfil_usuario') %}active{% endif %}">
        <i class="fas fa-user"></i>
        <a href="{{ url_for('perfil_usuario') }}" class="text-decoration-none">Perfil</a>
    </div>
    <div class="nav-item {% if request.path == url_for('informacion') %}active{% endif %}">
        <i class="fas fa-info-circle"></i>
        <a href="{{ url_for('informacion') }}" class="text-decoration-none">Información</a>
    </div>
    <div class="profile mt-8 mt-auto">
        <img src="{{ url_for('static', filename=user_image) }}" alt="Profile" class="w-12 h-12 rounded-full">
        <div class="profile-text mt-2">
            <div class="name">{{ user_name }}</div>
        </div>
    </div>
</div>